.show_car{
    width: 1200px;
    margin: 10px auto;
    /* border: 1px solid skyblue; */
}

.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}


.table>thead>tr>th{
    line-height: 50px;
    padding: 8px;
}

.table>tbody{
    margin-bottom: 20px;
}

.table>tbody>tr{
    line-height: 30px;
    font-size: 14px;
}


.table td{
    text-align: center;
    line-height: 30px;
    padding: 8px;
}  


.table>tbody tr td>img{
    vertical-align: middle;
}

.table>tbody tr td>input{
    line-height: 24px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #ccc;
    padding-left: 15px;
}

.table tfoot tr{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}


.list{
    color: #fff;
    background-color: #337ab7;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #2e6da4;
}

.order{
    color: #fff;
    background-color: #f0ad4e;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #eea236;
}


.buy{
    width: 1170px;
    padding-left: 30px;
}



.buy>h1{
    line-height: 100px;
    font-size: 30px;
}

.buy>p{
    line-height: 100px;
    font-size: 24px;
}

.list2{  
    width: 100px;
    padding: 5px;
    line-height: 50px;
    font-size: 20px;
    background-color: #337ab7;
    border-radius: 5px;
    border: 1px solid #2e6da4;
    margin-bottom: 20px;
}
.list2>a{
    color:#fff;
}

.remove{
    background-color:red;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 18px;
    color:#fff;
}